
 .container{
   width: 1024px;
    height: auto;
    margin: 0 auto;
 }

 .box{
   width: 900px;
   height: auto;
   margin: 8px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px;
   border: 1px solid #999;
}

.box img{
   width: 100%;
   height: auto;
   flex: 1;
}

.content{
   flex: 1;
}

@media screen and (max-width: 1023px) {
   .container{
      width: 100%;
  }

  .box{
      width: 80%;
      flex-direction: column;
  }

  .box img{
      width: 100%;
  }

  .content{
      width: 100%;
  }
}

 a{
    text-decoration: none;
 }

 .btn{
   border: 1px solid black;
   border-radius: 2px;
   padding: 8px;
 }

 .btn:hover{
   background-color: gray;
 }