body{background-color:white ;}

.container{
width: 1024px;
height: auto;
margin: 0 auto;
display: flex;
justify-content: space-between;
}

.box{
    width: 300px;
    height: auto;
    border: 1px solid #999;
    padding: 8px;
    border-radius: 0 5px 0 5px;
}
.box img{
    width: 100%;
}